__pycache__
this
.idea/
tmp/
runner.env
artifacts/
*~
*backups
.cache
docker-tag
.tox/
.*.swp
*.egg-info
wheelhouse/
test/build/*
PASSED
FAILED
test/.vagrant/*
.pytest_cache
.eggs/
venv*
/config/
*.code-workspace
*/build/
.DS_Store
.coverage
.dccache
fixshell/backup_*
fixcore/tools/Assets
out/
*.iml
**/.hypothesis/
.sandbox/*
.env
