ckui/src/assets/**/*.png filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.ttf filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.gltf filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.glb filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.bin filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.wav filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.ogg filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.dae filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.obj filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.fbx filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.escn filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.bmp filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.dds filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.exr filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.hdr filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.tga filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.svg filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.svgz filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.webp filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.otf filter=lfs diff=lfs merge=lfs -text
ckui/src/assets/**/*.fnt filter=lfs diff=lfs merge=lfs -text
