aiodns==3.2.0
aiofiles==23.2.1
aiohttp[speedups]==3.9.5
aiohttp-jinja2==1.6
aiohttp-swagger3==0.8.0
aiosignal==1.3.1
aiostream==0.6.1
apscheduler==3.10.4
attrs==23.2.0
autocommand==2.2.2
azure-common==1.1.28
azure-core==1.30.1
azure-identity==1.16.1
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.1.1
backoff==2.2.1
backports-tarfile==1.1.1
bcrypt==4.1.3
boto3==1.34.113
botocore==1.34.113
brotli==1.1.0
cachetools==5.3.3
cattrs==23.2.3
cerberus==1.3.5
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cheroot==10.0.1
cherrypy==18.9.0
cryptography==42.0.7
deepdiff==7.0.1
defusedxml==0.7.1
deprecated==1.2.14
detect-secrets==1.5.0
fastjsonschema==2.19.1
fixcompliance==0.4.18
fixdatalink==2.0.2
fixinventoryclient==2.0.1
fixinventorydata==0.2.6
frozendict==2.4.4
frozenlist==1.4.1
google-api-core==2.19.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.7
importlib-metadata==7.1.0
inflect==7.2.1
isodate==0.6.1
jaraco-collections==5.0.1
jaraco-context==5.3.0
jaraco-functools==4.0.1
jaraco-text==3.12.0
jinja2==3.1.4
jmespath==1.0.1
jq==1.7.0
jsons==1.6.3
kubernetes==29.0.0
markdown-it-py==3.0.0
markupsafe==2.1.5
mdurl==0.1.2
monotonic==1.6
more-itertools==10.2.0
msal==1.28.0
msal-extensions==1.1.0
multidict==6.0.5
networkx==3.3
oauth2client==4.1.3
oauthlib==3.2.2
onelogin==2.0.4
ordered-set==4.1.0
packaging==24.0
paramiko==3.4.0
parsy==2.1
pint==0.23
plantuml==0.3.0
portalocker==2.8.2
portend==3.2.0
posthog==3.5.0
prometheus-client==0.20.0
prompt-toolkit==3.0.44
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycares==4.4.0
pycparser==2.22
pygithub==2.3.0
pygments==2.18.0
pyjwt[crypto]==2.8.0
pynacl==1.5.0
pyparsing==3.1.2
python-arango==7.9.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyvmomi==8.0.2.0.1
pyyaml==6.0.1
requests==2.32.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rich==13.7.1
rsa==4.9
s3transfer==0.10.1
setuptools==70.0.0
six==1.16.0
slack-sdk==3.27.2
sqlalchemy==1.4.52
tempora==5.5.1
tenacity==8.3.0
toolz==0.12.1
transitions==0.9.1
typeguard==4.3.0
typing-extensions==4.12.0
typish==1.9.3
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==1.26.18
ustache==0.1.5
wcwidth==0.2.13
websocket-client==1.8.0
wrapt==1.16.0
yarl==1.9.4
zc-lockfile==3.0.post1
zipp==3.19.0
