wheel==0.37.1
flake8==4.0.1
pep8-naming==0.12.1
tox==3.25.0
coverage==6.3.2
setuptools==62.1.0
pylint==2.13.8
black==22.3.0
pytest==7.1.2
pytest-cov==3.0.0
pytest-runner==6.0.0
mypy==0.950
pytest-asyncio==0.18.3
