networkx==2.8 # 2.8.1 increase the refcounts which leads to a failing test.
jsons==1.6.2
typeguard==2.13.3
websocket-client==1.3.2
psutil==5.9.1
requests==2.27.1
prometheus-client==0.14.1
PyJWT==2.4.0
CherryPy==18.6.1
cryptography==37.0.2
aiohttp[speedups]==3.8.1
Pint==0.19.2
parsy==1.4.0
