networkx==3.1
jsons==1.6.3
typeguard==4.0.0
websocket-client==1.5.2
psutil==5.9.5
requests==2.31.0
prometheus-client==0.16.0
PyJWT==2.7.0
CherryPy==18.8.0
cryptography==40.0.2
aiohttp[speedups]==3.8.4
Pint==0.21
parsy==2.1
tzlocal==5.0.1
tzdata==2023.3
cattrs==22.2.0
attrs==23.1.0
setuptools>=67.6.1 # always allow latest version
PyYAML==6.0
