@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Lato&family=Source+Code+Pro&display=swap');

 /* Default (dark) theme */
:root {
    --text-default: #dbdad4; /*#cee5ef; #6daac5;*/
    --text-highlight: #ffe797;
    --text-highlight-low: #dda045;
    --text-darker: #0054a3;

    --link-default: #35b0e6;
    --link-hover: #ffaf37;
    --link-orange: #d6a045;
    --link-highlight: #fff4ce;
    --link-active: #1a83af;

    --bg-med: #222; /*#0a253f;*/
    --bg-dark: #001930;
    --bg-extra-dark: #000;

    --code-bg: #000c18;
    --code-highlight-1: #df8500;

    --nav-current: #082c4e;
    --external-reference-icon: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyIiB3aWR0aD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMjk4MGI5Ij48cGF0aCBkPSJtNy41IDcuMXYzLjRoLTZ2LTZoMy40Ii8+PHBhdGggZD0ibTUuNzY1IDFoNS4yMzV2NS4zOWwtMS41NzMgMS41NDctMS4zMS0xLjMxLTIuNzI0IDIuNzIzLTIuNjktMi42ODggMi44MS0yLjgwOC0xLjMxMy0xLjMxeiIvPjwvZz48L3N2Zz4K");
}

.wy-nav-content {
    background: var(--bg-med);
}

.wy-side-nav-search {
    background-color: transparent;
    padding-top: 0;
}

.wy-side-nav-search .icon{
    color: var(--text-highlight);
    font-size: 3rem;
    font-family: 'Gemunu Libre', sans-serif;
    text-decoration: none;
}

.wy-side-nav-search .icon:hover{
    background-color: transparent;
    color:;
}

.logo {
    margin-top: 0 !important;
    width: 90% !important;
}


.wy-side-nav-search .icon-home::before {
    display: none;
}

.wy-nav-side {
    background-color: var(--bg-dark);
}

.wy-nav-content-wrap {
    background-color:var(--bg-extra-dark);
}

.wy-nav-top {
    background-color: var(--bg-dark);
    font-size: 1.5rem;
}

i.fa.fa-bars {
    color: var(--text-highlight);
}

@media only screen and (min-width: 769px) {
    .wy-body-for-nav {
        /* Center the page on wide displays for better readability */
        max-width: 1100px;
        margin: 0 auto;
    }
    .wy-nav-side {
        left: inherit;
    }
}

body {
    color:var(--text-default);
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
    color: var(--text-highlight);
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.05rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    margin-top: 4rem;
    font-size: 1.9rem;
<<<<<<< HEAD
    border-bottom: 1px solid var(--text-highlight);
=======
    border-bottom: 1px solid #ffe797;
>>>>>>> 5855619ddbdb8ba29805999c456aca0ff73a71c0
    width: 100%;
    padding-bottom: 0.5rem;
}

h3 {
    margin-top: 3rem;
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
<<<<<<< HEAD
    color: var(--text-highlight-low);
=======
    color: #dda045;
    font-size: 1.3rem;
    color: #dda045;
>>>>>>> 5855619ddbdb8ba29805999c456aca0ff73a71c0
}

.wy-body-for-nav {
    background:var(--bg-extra-dark);
}

nav.wy-nav-side {
    padding-bottom: 3em;
}

a:link
{
    color:var(--link-default);
    text-decoration: underline;
}

a:visited
{
	color:var(--link-default);
}

a:hover
{
    color:var(--link-hover);
    background-color: transparent;
}

.reference.internal:hover {
    color: var(--text-highlight);
    background-color: var(--bg-extra-dark) !important;
}

a.reference.internal.image-reference:hover {
    background-color: transparent !important;
}

a:active
{
	color: var(--link-active);
}

footer {
    color: var( --text-darker)
}

hr {
    border-top: 1px solid var(--text-highlight-low);
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td {
    background-color: var(--bg-dark);
}

.rst-content table.docutils td, .wy-table-bordered-all td {
    border-bottom: 1px solid var(--bg-extra-dark);
    border-left: 1px solid var(--bg-extra-dark);
}

html.writer-html5 .rst-content table.docutils th {
    border: 1px solid var(--bg-extra-dark);
    background-color: #4daac5;
}

.rst-content table.docutils, .wy-table-bordered-all {
    border: 2px solid #4daac5;
}

.btn-neutral
{
	border:2px solid var(--link-hover);
	font-size:1.25rem;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	letter-spacing:.03em;
    color:#0a253f;
    text-decoration-line: none !important;
	background-color:var(--text-highlight) !important;
	box-sizing:border-box;
	height:2.5rem;
	line-height:32px;
	padding:0 18px;
	display:inline-block;
	margin:0;
}

.btn:hover
{
	background-color:#fff4d0 !important;
	cursor:pointer;
}

input
{
	font-size:1.25rem;
	border:1px solid var(--link-hover) !important;
	-webkit-border-radius:5px !important;
	-moz-border-radius:5px !important;
	border-radius:5px !important;
	color: var(--text-highlight);
	background-color: var(--bg-extra-dark);
	box-sizing:border-box;
	height:2.5rem;
	padding:0 .4em;
	display:inline-block;
	margin:0;
	width:350px;
    vertical-align:top;
    box-shadow: none !important;
}

input::placeholder
{
	color: var(--text-darker);
}


.rst-content div[class^=highlight], .rst-content pre.literal-block {
    background-color: var(--code-bg);
    border-width: 0;
    
}

.highlight .nv {
    color: var(--text-highlight-low);
}

.highlight .m {
    color: var(--link-default);
}

.highlight .s1 {
    color: var(--link-hover);
}

.highlight .s2 {
    color: var(--code-highlight-1);
}

.rst-content .linenodiv pre, .rst-content div[class^=highlight] pre, .rst-content pre.literal-block {
    font-family: 'Source Code Pro', monospace;
}

.rst-content code {
    color: var(--text-default);
    background: var(--code-bg);
    border: 0;
    font-family: 'Source Code Pro', monospace;
    padding: 2px 5px;
}

.rst-content code.literal {
    color: var(--text-highlight);
    white-space: normal;
}

::-webkit-scrollbar-track
{
	border: 1px solid var(--text-default);
	background-color: var(--bg-extra-dark);
}

::-webkit-scrollbar
{
	width: 10px;
	background-color:var(--bg-extra-dark);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--text-default);	
}

button.toctree-expand:before {
    color: var(--text-highlight-low);
    text-decoration: none !important;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: 0px;
    border-top: 0px;
}

.wy-menu-vertical li.toctree-l2 a {
    color: var(--link-orange);
    background-color: var(--nav-current);
    border-right: 0px;
}

.wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background-color: var(--nav-current);
}

.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    color: var(--text-highlight);
}

.wy-menu-vertical li.toctree-l3>a {
    text-decoration: none;
}


span.caption-text {
    color: var(--text-highlight);
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.05rem;
}

.wy-menu span.caption-text {
    font-size: 1.2rem;
}

.rst-content .code-block-caption {
    font-size: 1rem;
    line-height: 1;
    padding: 0.2rem 0;
    text-align: center;
    font-style: normal;
}

.code-block-caption span.caption-text {
    font-family: 'Lato', sans-serif;
}

.reference.external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: var(--external-reference-icon);
    padding-right: 13px;
}


.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    color: var(--text-highlight);
    background: var(--nav-current);
}

.wy-menu a {
    text-decoration: none;
}

.wy-menu-vertical li.toctree-l3.current>a, .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background: var(--nav-current);
}

.wy-menu-vertical li.current>a button.toctree-expand:before {
    color: var(--text-highlight) !important;
}

.wy-side-nav-search input[type=text] {
    border-color: var(--text-highlight-low);
}

.hint .admonition-title {
    color: var(--text-highlight-low) !important;
    background: var(--code-bg) !important;
    border-radius: 5px 5px 0 0;
}

.admonition.hint {
    background: var(--bg-dark) !important;
    border-radius: 5px;
}

.sparta {
    color: #ffe797 !important;
    text-align: center;
    background-color: var(--nav-current);
    border: 2px solid var(--bg-dark);
    border-radius: 5px;
    border-width: 1px 1px 3px 1px;
    padding: 0.5rem;
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


.hint .admonition-title {
    color: #dda045 !important;
    background: #000c18 !important;
    border-radius: 5px 5px 0 0;
}

.admonition.hint {
    background: #001930 !important;
    border-radius: 5px;
}

