# Only list production dependencies. Everything else can be added to requirements-test.txt and requirements-dev.txt.

aiohttp-swagger3==0.7.2
aiohttp[speedups]==3.8.3
aiostream==0.4.5
resotolib==3.0.2

setuptools==65.6.3
jsons~=1.6.2
