# Only list production dependencies. Everything else can be added to requirements-test.txt and requirements-dev.txt.

aiohttp-swagger3==0.7.2
aiohttp[speedups]==3.8.1
aiostream==0.4.4
resotolib==2.4.0

setuptools~=62.3.3
jsons~=1.6.2
