# Only list production dependencies. Everything else can be added to requirements-test.txt and requirements-dev.txt.

aiohttp-swagger3==0.7.4
aiohttp[speedups]==3.8.4
jsons==1.6.3
parsy==2.1
plantuml==0.3.0
python-arango==7.5.7
python-dateutil==2.8.2
toolz==0.12.0
transitions==0.9.0
APScheduler==3.10.1
aiostream==0.4.5
tzlocal==4.3
frozendict==2.1.3 # 2.2.0 can not be marshalled as json any longer
resotolib==3.3.3
jq==1.4.1
posthog==2.5.0
ustache==0.1.5
aiofiles==22.1.0 # ypy requires a version < 23.0.0 (required by jupyter server)
cryptography==40.0.2
rich==13.3.4
Cerberus~=1.3.4
setuptools>=65.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
resotoui==3.3.3
deepdiff==6.3.0
Jinja2==3.1.2

