# Only list production dependencies. Everything else can be added to requirements-test.txt and requirements-dev.txt.

aiohttp-swagger3==0.7.1
aiohttp[speedups]==3.8.1
jsons==1.6.1
parsy==1.4.0
plantuml==0.3.0
python-arango==7.3.1
python-dateutil==2.8.2
toolz==0.11.2
transitions==0.8.11
APScheduler==3.9.1
aiostream==0.4.4
tzlocal==4.1
frozendict==2.1.3 # 2.2.0 can not be marshalled as json any longer
PyYAML==6.0
resotolib==2.0.2
jq==1.2.2
posthog==1.4.5
# available in python 3.8
backports.cached-property==1.0.1
ustache==0.1.5
aiofiles==0.8.0
cryptography~=36.0.2
rich~=12.0.2
Cerberus~=1.3.4
