# Only list production dependencies. Everything else can be added to requirements-test.txt and requirements-dev.txt.

aiohttp-swagger3==0.7.2
aiohttp[speedups]==3.8.3
jsons==1.6.3
parsy==2.0
plantuml==0.3.0
python-arango==7.5.3
python-dateutil==2.8.2
toolz==0.12.0
transitions==0.9.0
APScheduler==3.9.1.post1
aiostream==0.4.5
tzlocal==4.2
frozendict==2.1.3 # 2.2.0 can not be marshalled as json any longer
PyYAML==6.0
resotolib==3.0.2
jq==1.3.0
posthog==2.2.0
ustache==0.1.5
aiofiles==22.1.0
cryptography>=38.0.4
rich==12.6.0
Cerberus~=1.3.4
setuptools>=65.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
